<form  [formGroup]="formGroup">
  <div class="container-form">
    <div *ngIf="isEdit">
      Editar
    </div>
    <div *ngIf="!isEdit">
      Agregar
    </div>
    <div>
      <input type="text" pInputText  formControlName="_about" [class.ng-dirty]="isFormInvalid('_about')" placeholder="Acerca de">
    </div>
    <div>
      <input type="link" pInputText formControlName="accessURL" [class.ng-dirty]="isFormInvalid('accessURL')" placeholder="accessURL">
    </div>
    <div>
      <input type="link" pInputText formControlName="title" [class.ng-dirty]="isFormInvalid('title')" placeholder="Título">
    </div>
    <div>
      <p-button *ngIf="!isEdit" label="Agregar" (click)="onSubmitForm()"></p-button>
      <p-button *ngIf="isEdit" label="Editar" (click)="onSubmitForm()"></p-button>
    </div>
  </div>
  </form>