.header-fixed {
  width: 100%;
  top: 0;
  z-index: 9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #f9f9f9f9;
}
.header-d--grid {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}
